apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-microservices
  namespace: default
  annotations:
    kubernetes.io/ingress.class: "traefik"
spec:
  rules:
    - http:
        paths:
          {% for i in range(1, 21) %}
          - path: /svc-{{ i }}
            pathType: Prefix
            backend:
              service:
                name: nginx-svc-{{ i }}-svc
                port:
                  number: 80
          {% endfor %}
